<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprojects.zberry.hopwithme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/hwm_launcher"
        android:theme="@style/AppTheme">

        <!-- Main Activities -->
        <activity
            android:name=".hwm_main"
            android:label="@string/hwm_app_label"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".hwm_game"
            android:label="@string/hwm_main_title"
            android:screenOrientation="landscape" />

        <activity android:name=".hwm_ack"
            android:label="@string/hwm_ack"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape"/>

        <activity android:name=".hwm_scores"
            android:screenOrientation="landscape" />

        <activity android:name=".hwm_settings"
            android:label="@string/hwm_settings_button"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape" />

        <activity android:name=".hwm_end"
            android:label="@string/hwm_gameOver"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape" />

        <activity android:name=".hwm_desc"
            android:label="hwm_desc"
            android:screenOrientation="landscape" />

        <activity android:name=".hwm_tutorial"
            android:label="@string/hwm_tutorial"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape" />

        <activity android:name=".prefs"
            android:label="@string/preferences_label"
            android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>

</manifest>
